<?php
require_once __DIR__ . '/EnvLoader.php';

/*******************************************************************************************************************/
/*                                    Variables de entorno (llaves de cifrado y JWT)                                */
/*******************************************************************************************************************/
define('ENV_JWT_SECRET_KEY', getenv('JWT_SECRET_KEY'));

define('ENV_ENCODE_KEY_1', getenv('ENCODE_KEY_1'));
define('ENV_ENCODE_KEY_2', getenv('ENCODE_KEY_2'));
define('ENV_ENCODE_KEY_3', getenv('ENCODE_KEY_3'));
define('ENV_ENCODE_KEY_4', getenv('ENCODE_KEY_4'));
define('ENV_ENCODE_KEY_5', getenv('ENCODE_KEY_5'));
define('ENV_ENCODE_KEY_6', getenv('ENCODE_KEY_6'));
define('ENV_ENCODE_KEY_7', getenv('ENCODE_KEY_7'));
define('ENV_ENCODE_KEY_8', getenv('ENCODE_KEY_8'));
define('ENV_ENCODE_KEY_9', getenv('ENCODE_KEY_9'));
define('ENV_ENCODE_KEY_10', getenv('ENCODE_KEY_10'));
define('ENV_ENCODE_KEY_11', getenv('ENCODE_KEY_11'));

/*******************************************************************************************************************/
/*                                              Se define la clase                                                 */
/*******************************************************************************************************************/
class ConfigToken{

    const JWT = [
        'TOKEN_AUTHENTICATION' => true, // (boolean) - enable/disable token authentication
        'SECRET_KEY'           => ENV_JWT_SECRET_KEY, // (string) secret key for token encryption
        'TIME_TO_LIVE'         => 86400, // (int) seconds  - token life time
    ];

    const ENCODE_KEYS = [
        'KEY_1'  => ENV_ENCODE_KEY_1,
        'KEY_2'  => ENV_ENCODE_KEY_2,
        'KEY_3'  => ENV_ENCODE_KEY_3,
        'KEY_4'  => ENV_ENCODE_KEY_4,
        'KEY_5'  => ENV_ENCODE_KEY_5,
        'KEY_6'  => ENV_ENCODE_KEY_6,
        'KEY_7'  => ENV_ENCODE_KEY_7,
        'KEY_8'  => ENV_ENCODE_KEY_8,
        'KEY_9'  => ENV_ENCODE_KEY_9,
        'KEY_10' => ENV_ENCODE_KEY_10,
        'KEY_11' => ENV_ENCODE_KEY_11,
    ];

}
